/// <reference path="_variables.scss" />

/* ==========================================================================
   Buttons classes
   ========================================================================== */

[class*="button"] {
	display: inline-block; margin: .5em; padding: .5em 1em;
	background: white;
	font-size: 1.25em; text-transform: uppercase; text-decoration: none; color: inherit;
	&:hover,
	&:focus {
		transform: translateY(.1em);
		color: white;
		opacity: .75;
	}
}

@each $id, $color in $buttons {
	.button-#{$id} {
		background: #{$color};
		color: white;
	}
}
