<section class="image-and-text-block {{#if (eq alignment 'right')}} right {{/if}}"
    style="background-color: {{#var background}}{{/var}};">
    <div class="inner-container" style="min-height:{{height}};padding-top:{{paddingTop}};padding-bottom:{{paddingBottom}};">
        {{#if (eq alignment "left")}}
        <div class="image-block">
            <img src="{{img.url}}" alt="{{img.alt}}" style="width:{{img.width}}">
        </div>
        {{/if}}
        <div class="text-block"
            style="text-align:{{textAlign}};width:{{textWidth}};margin-left:{{marginLeft}};margin-right:{{marginRight}};">
            {{#if titleColor}}
                <h2 style="color:{{titleColor}}">{{title}}</h2>
            {{else}}
                <h2>{{title}}</h2>
            {{/if}}
            {{#if subtitle}}
                {{#if subtitleColor}}
                    <h3 style="color:{{subtitleColor}}">{{subtitle}}</h3>
                {{else}}
                    <h3>{{subtitle}}</h3>
                {{/if}}
            {{/if}}
            <p style="color:{{color}}">
                <script>
                    var descText = "{{desc}}"; 
                    var replaceLT = descText.replace(/&lt;/gi, "<");
                    var result = replaceLT.replace(/&gt;/gi, ">");
                    var pTags = document.getElementsByTagName('p');
                    pTags = pTags[pTags.length - 1];
                    pTags.innerHTML = result;
                </script>
            </p>
            {{#if moreInfoLink}}
            <div class="link-block">
                <a style="color:{{color}}" href="{{moreInfoLink}}" {{#if target}}target="{{target}}"{{/if}}>{{moreInfoText}}
                </a>
            </div>
            {{/if}}
        </div>
        {{#if (eq alignment "right")}}
        <div class="image-block">
            <img src="{{img.url}}" alt="{{img.alt}}" style="width:{{img.width}}">
        </div>
        {{/if}}
    </div>
</section>