<div class="partner-logo">
    <div class="inner-container">
        {{#if logo.url-1}}
            <div class="col-1">
                {{#if logo.link-1}}
                    <a href="{{logo.link-1}}">
                {{/if}}
                    <img src="{{logo.url-1}}" alt="{{logo.alt-1}}">
                {{#if logo.link-1}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
        {{#if logo.url-2}}
            <div class="col-2">
                {{#if logo.link-2}}
                    <a href="{{logo.link-2}}">
                {{/if}}
                    <img src="{{logo.url-2}}" alt="{{logo.alt-2}}">
                {{#if logo.link-2}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
        {{#if logo.url-3}}
            <div class="col-3">
                {{#if logo.link-3}}
                    <a href="{{logo.link-3}}">
                {{/if}}
                    <img src="{{logo.url-3}}" alt="{{logo.alt-3}}">
                {{#if logo.link-3}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
        {{#if logo.url-4}}
            <div class="col-4">
                {{#if logo.link-4}}
                    <a href="{{logo.link-4}}">
                {{/if}}
                    <img src="{{logo.url-4}}" alt="{{logo.alt-4}}">
                {{#if logo.link-4}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>