<div class="partner-logo">
    <div class="inner-container">
        {{#if logo.image-1}}
            <div class="col-1">
                {{#if logo.link-1}}
                    <a href="{{logo.link-1}}" target="_blank">
                {{/if}}
                    <img src="{{logo.image-1}}" alt="{{logo.alt-1}}">
                {{#if logo.link-1}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
        {{#if logo.image-2}}
            <div class="col-2">
                {{#if logo.link-2}}
                    <a href="{{logo.link-2}}" target="_blank">
                {{/if}}
                    <img src="{{logo.image-2}}" alt="{{logo.alt-2}}">
                {{#if logo.link-2}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
        {{#if logo.image-3}}
            <div class="col-3">
                {{#if logo.link-3}}
                    <a href="{{logo.link-3}}" target="_blank">
                {{/if}}
                    <img src="{{logo.image-3}}" alt="{{logo.alt-3}}">
                {{#if logo.link-3}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
        {{#if logo.image-4}}
            <div class="col-4">
                {{#if logo.link-4}}
                    <a href="{{logo.link-4}}" target="_blank">
                {{/if}}
                    <img src="{{logo.image-4}}" alt="{{logo.alt-4}}">
                {{#if logo.link-4}}
                    </a>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>