@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Acumin-RPro.woff'), url('../fonts/Acumin-RPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 200;
    src: local('../fonts/AcuminPro-Light.otf'), url('../fonts/AcuminPro-Light.otf') format('otf');
}

@font-face {
    font-family: 'Acumin Pro Thin';
    font-weight: 100;
    src: local('../fonts/AcuminPro-Thin.otf'), url('../fonts/AcuminPro-Thin.otf') format('otf');
}

@font-face {
    font-family: 'Acumin Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Acumin Pro Italic'), url('Acumin-ItPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Acumin Pro Bold Italic'), url('Acumin-BdItPro.woff') format('woff');
}

@font-face {
    font-family: 'Acumin Pro ExtraCondensed';
    font-weight: 400;
    src: local('../fonts/AcuminProExtraCondensed-Regular.otf'), url('../fonts/AcuminProExtraCondensed-Regular.otf') format('woff');
}

@font-face {
    font-family: 'Acumin Pro ExtraCondensed';
    font-weight: 600;
    src: local('../fonts/AcuminProExtraCondensed-SemiBold.otf'), url('../fonts/AcuminProExtraCondensed-SemiBold.otf') format('woff');
}

@font-face {
    font-family: 'Acumin Pro ExtraCondensed';
    font-weight: 200;
    src: local('../fonts/AcuminProExtraCondensed-Light.otf'), url('../fonts/AcuminProExtraCondensed-Light.otf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

body {
    line-height: 1;
    font-size: 18px;
    color: #546E88;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: #e2e2e2;
}

body > div {
    background: #efefef;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.inner-container {
    max-width: 820px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 18px;
}

p {
    line-height: 28px;
}


.download {
    width: 70px;
    height: 70px;
    background: #606c77;
    padding: 17px;
}

.why-choose .inner-container {
    margin: 0 auto;
    padding: 40px 0;
}

.text-block {
    max-width: 540px;
    margin-left: 40%;
    padding: 80px 0;
}

.align-left {
    margin-left: 0;
    margin-right: 40%;;
}

.footer {
    background: #2a2a2a;
    height: 246px;
}

.footer .container {
    justify-content: flex-start;
    padding-left: 60px;
}

.footer ul {
    column-count: 2;
}

.footer ul li a {
    font-size: 14px;
}


/* Header */
.header{
    position: fixed;
    width: 100vw;
    background: inherit;
    z-index: 100;
}



.header-top {
    min-width: 286px;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: "Acumin Pro ExtraCondensed";
    letter-spacing: 2px;
    font-size: 20px;
    position: relative;
}


.header-top:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #606c77;
    opacity: 0.95;
}

.show .header-top {
    width: 287px;
    z-index: 1000;
}

.show .header-top:before{
    background: none;
}

.header-top-wrapper {
    width: 270px;

    transition: width .1s linear;
}

.header-top-wrapper.show {
    width: 490px;
    overflow: visible;
}

.logo {
    width: 210px;
    height: 70px;

    font-family: "Acumin Pro ExtraCondensed";
    position: absolute;
    top: 0;
    left: 50px;
    /*background: #626d77;*/
    transition: all .1s linear;
    align-items: center;
    display: flex;
    justify-content: center;
}

.show .logo {
    left: 286px;
    background: #606c77;
    opacity: 0.95;
}

.menu {
    padding-left: 24px;
    height: 100%;
    position: relative;
}

.header-ul-wrapper{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 286px;
}


.header-ul-wrapper ul{
    padding-top: 70px;
    width: 286px;
    position: relative;

    transform: translateX(-100%);

    transition: all .1s linear;
}

.header-ul-wrapper ul:before{
    position: absolute;
    height: 70px;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(156, 169, 185, 0.95);
}

.show .header-ul-wrapper ul{
    transform: translateX(0%);
}

.menu ul li {
    color: #e2e2e2;
    padding: 10px 0;
    text-align: right;
    padding-right: 24px;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.header-ul-wrapper > ul li {
    background: linear-gradient(to left, rgba(156, 169, 185, 0.95) 50%, rgba(181, 191, 202, 0.95) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all .1s ease;
}

.menu ul li.active {
    background-position:left bottom;
}

.menu ul li.active:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 13px;
    border: 7px solid transparent;
    border-left: 10px solid #e2e2e2;
}

.menu-btn {
    cursor: pointer;
    position: relative;
    top: 20px;
    z-index: 1000;

    left: 0;

    transition: all .1s ease-in-out;
}

.show .menu-btn {
    left: 216px;
}

.menu-btn span {
    display: block;
    width: 23px;
    height: 3px;
    margin: 5px 0;
    background: #E2E2E2;
    z-index: 99;
}

.show-submenu div.sub-menu {
    display: block;

    width: 210px;
}


div.sub-menu {
    position: absolute;
    top: 70px;
    left: 286px;
    min-height: 400px;
    width: 0;
    overflow: hidden;

    transition: all .1s ease-in-out;
    /*display: none;*/
}

div.sub-menu.no-transition {
    transition: none!important;
}

div.sub-menu.no-transition > ul {
    transition: none!important;
}

div.sub-menu > ul {
    padding-top: 0;
    transform: translateX(-100%);

    transition: all .1s ease-in-out;

    background: rgba(181, 191, 190, 0.95);
    width: 210px;
}

div.sub-menu ul li {
    text-align: left;
    padding-left: 24px;
}

div.sub-menu ul li a {
    text-transform: capitalize;
}

.show-submenu div.sub-menu > ul {
    transform: translateX(0%);
    /*transition: all .1s ease-in-out;*/
}

li.has-sub-menu {
    background: linear-gradient(to left, #9ca8b8 50%, #b5bfca 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .1s ease;
}

.show-submenu li.has-sub-menu {
    background-position: left bottom;
}

.show-submenu li.has-sub-menu:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 13px;
    border: 7px solid transparent;
    border-left: 10px solid #e2e2e2;
}

.hide-menu .sub-menu ul {
    left: -1000px;
}

@media (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
        /*-webkit-overflow-scrolling: touch;*/
    }
}

/*1024px*/

@media (max-width: 989px) {
    .inner-container {
        max-width: 100%;
    }

    .text-block {
        max-width: 100%;
        margin-left: 0;
    }

    .gallery-block .images-container{
        padding: 15px 0;
        align-items: center;
        justify-content: center;
    }

    .image-and-text-block .inner-container {
        flex-wrap: wrap;
        max-height: none!important;
        justify-content: center!important;
    }

    .image-and-text-block .inner-container div{
        margin: 0!important;
        padding-left: 15px!important;
        padding-right: 15px!important;
    }


}

/*989px*/

@media (max-width: 768px) {
    .footer .container {
        padding: 0 30px;
    }

    .text-block {
        padding: 80px 30px;
    }

    .why-choose .inner-container {
        padding: 40px 30px;
    }

    .download {
        display: none;
    }

    .header-top,
    .show .header-top,
    .show .menu > ul,
    .logo,
    .header-top-wrapper {
        width: 100%;
    }

    .show .menu {
        width: 50vw;
    }

    .menu-btn {
        display: inline-block;
    }

    .show .menu-btn {
        left: calc(100% - 45px);
    }

    .menu ul li {
        padding-right: 6px;
    }

    .logo img {
        width: 120px;
    }

    .show .logo {
        /*left: auto;*/
        /*transform: translate3d(calc(100% - 15px), 0px, 0px);*/
        background: none;
        left: 50vw;
    }

    .menu > ul > li:first-child:hover ul.sub-menu {
        transform: translate3d(calc(100%), 0px, 0px);
        width: 100%;
    }

    .logo{
        width: 50vw;
        padding-left: 15px;
        justify-content: flex-start;
    }

    .header-ul-wrapper{
        width: 50vw;
        height: 100vh;
    }

    .header-ul-wrapper ul{
        width: 50vw;
    }

    .header-top {
        width: 100vw!important;
    }

    .header-top:before {
        transition: left .1s linear;
    }

    .show .header-top:before {
        background: #606c77;
        left: 50%;
    }

    .header-ul-wrapper ul:after{
        display: block;
        content: " ";
        height: calc(100vh);
        background: rgba(156, 169, 185, 0.95);
    }

    div.sub-menu {
        left: 50vw;
        width: 50vw!important;
        height: 100vh;
    }

    div.sub-menu > ul {
        width: 100%;
        height: 100%;
    }
}

/*768px*/

/****************      FOOTER         ****************/

.footer-menu {
    margin-left: 20px;
    margin-top: 15px;
    width: 250px;
}

.footer-menu ul li a {
    font-family: "Acumin Pro";
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.footer .container {
    flex-direction: column;
}
.footer .social-icons{
    margin-left: 20px;
    margin-top: 15px
}

.footer .social-icons img{
    margin-right: 5px;
}


@media all and (max-width: 768px){
    .footer {
        height: auto;
        padding-bottom: 40px;
    }
}

/****************          end           ************/

/****************      galleryBlock      ************/

/****************          end           ************/
/****************  samplesCarauselBlock  ************/

/****************          end           ************/
/****************   imagesAndTextBlock   ************/

.image-and-text-block .inner-container {
    display: flex;
    max-height: 300px;
    max-width: 1200px;
    justify-content: flex-start;
    overflow: hidden;
}

.image-and-text-block .inner-container img {
    height: auto;
}

.image-and-text-block:nth-of-type(2n) .inner-container div:nth-child(1){
    margin-right: 25px;
}

.image-and-text-block:nth-of-type(2n + 1) .inner-container div:nth-child(2){
    position: relative;
    margin-left: 25px;
}
.image-and-text-block:nth-of-type(2n) .inner-container div:nth-child(1){
    padding-left: 10px;
}



.image-and-text-block:nth-of-type(4) .inner-container div:nth-child(2){
    width: 460px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.image-and-text-block:nth-of-type(5) .inner-container div:nth-child(1){
    width: 100%;
    max-width: 400px;
}

.image-and-text-block:nth-of-type(5) .inner-container div:nth-child(1) img{
    width: 100%;
}




.image-and-text-block.right .inner-container {
    justify-content: flex-end;
}

.image-and-text-block.right .text-block h2,
.image-and-text-block.right .text-block p {
    color: #546E88;
}


.image-and-text-block .inner-container .text-block {
    margin: 0;
}

.image-and-text-block .text-block h2 {
    color: #ffffff;
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 2.1px;
}

.image-and-text-block .text-block p {
    color: #ffffff;
    font-family: "Acumin Pro";
    font-size: 15px;
    max-width: 520px;
    letter-spacing: 1px;
}


@media all and (max-width: 768px){
    .image-and-text-block .inner-container {
        height: 550px;
        position: relative;
    }

    .image-and-text-block:nth-of-type(2n) .inner-container div:nth-child(1){
        position: absolute;
        padding-top: 54px;
        margin-top: 250px!important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.52) 0%,
        rgba(255, 255, 255, 0.7019607843137254) 50%,#ffffff 100%);
        box-shadow: 0 0 51px rgba(255,255,255,1);
    }


    .image-and-text-block:nth-of-type(2n + 1) .inner-container div:nth-child(2){
        position: absolute;
        padding-top: 20px;
        margin-top: 280px!important;
        background: #333333;
        box-shadow: 0px -20px 13px 0px rgba(51,51,51,1);
    }
    .image-and-text-block:nth-of-type(2n + 1) .inner-container div:nth-child(2):before{
        position: absolute;
        width: 200%;
        height: 63px;
        content: "";
        top: 5px;
        left: -17px;
        box-shadow: 0px -35px 13px 0px rgb(51,51,51);
    }
}


@media (max-width: 350px){
    .image-and-text-block .inner-container {
        height: 591px;
        position: relative;
    }

    .image-and-text-block:nth-of-type(2n + 1) .inner-container div:nth-child(2) {
        padding-top: 36px;
    }
}

/****************          end           ************/
/****************      imagesBlock       ************/
.images-block .inner-container {
    max-width: 1200px;
}

.images-block .inner-container h2 {
    max-width: 1200px;
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2.1px;
    padding: 40px 0 0 50px;
}

.images-block .images-container {
    display: flex;
    justify-content: space-between;
}

.images-block .images-container div {
    max-width: 32%;
}

.images-block .images-container div img {
    max-width: 100%;
}

@media all and (max-width: 768px){
    .images-block .images-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .images-block .images-container div {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .images-block .inner-container h2 {
        text-align: center;
        padding-left: 0;
    }
}

/****************          end           ************/
/****************      galleryBlock      ************/

.gallery-block{
    padding: 1px;
}
.gallery-block h2{
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 42px;
    font-weight: 200;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery-block .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.gallery-block .images-container div {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 7px 15px 7px;
    border: 1px solid gray;
    overflow: hidden;
}

.gallery-block .images-container div a {
    display: block;
    width: 150px;
    height: 150px;
    text-decoration: none;
}

.gallery-block .images-container div a img {
    display: block;
    width: 150px;
    height: 150px;
    text-decoration: none;
}

/****************          end           ************/

/****************      textBlock         ****************/

.content-container > .text-block {
    max-width: none;
    margin: 0;
    padding: 0;
 }
 
.content-container > .text-block .inner-container {
     max-width: 805px;
     padding: 40px 0;
 }
 
.content-container > .text-block .inner-container h2 {
     font-family: "Acumin Pro ExtraCondensed";
     font-size: 36px;
     font-weight: 200;
     letter-spacing: 2.1px;
 }
 
.content-container > .text-block .inner-container p {
     font-family: "Acumin Pro", serif;
     font-size: 15px;
     letter-spacing: 1px;
 }

/****************          end           ************/


/****************   samplesCarouselBlock   ************/


.carousel{
    width: 100%;
    height: 600px;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
}

.carousel ul {
    width: 99999px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    transition: all .5s;
}

.carousel li {
    min-width: 100vw;
    flex: 1 1;
    background-size: cover;
    background-position: center center;
}

.carousel li iframe{
   width: 100%;
    height: 100%;
}

.carousel-navigate {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0, 0.7);
    border-radius: 10px;
    display: flex;
}

.carousel-navigate-item {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.carousel-navigate-item img {
    width: 17px;
}

.carousel-navigate-item.hidden{
    opacity: 0;
}

.carousel-navigate .caret {
    position: absolute;
    width: 17px;
    top: 3px;
    left: 10px;
    transition: left .5s;
}

/****************          end           ************/