<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {{#each metaTags}}
        <meta name="{{name}}" property="{{property}}" content="{{content}}"/>
    {{/each}}
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-top-wrapper">
                <div class="header-top">
                    <div class="menu">
                        <div class="menu-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="header-ul-wrapper">
                            <ul>
                            {{#each menu}}
                                <li><a class="{{menuTitle}}" href="/{{root}}">{{menuTitle}}</a>
                            {{/each}}
                            </ul>
                        </div>
                        <div class="sub-menu">
                            {{#each menu}}
                                {{#if children}}
                                    <ul class="{{menuTitle}} hidden">
                                        {{#each children}}
                                            <li><a href="/{{../root}}/{{root}}">{{menuTitle}}</a></li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="logo">
                            <a href="/" ><img src="/assets/img/logo.svg" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="download" href="{{downloadLink}}"><img src="/assets/img/download.svg"></a>
        </div>
    </div>

    <div class="content-container">
        {{#each blocks}}
            {{{block this}}}
        {{/each}}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="social-icons">
                {{#each socials}}
                    <a href="{{link}}"><img src="{{img.url}}" alt="{{img.alt}}"></a>
                {{/each}}
            </div>
            <div class="footer-menu">
                <ul>
                    {{#each footerMenu}}
                        <li><a href="#">{{menuTitle}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </footer>
<script src="/assets/js/scripts.js"></script>

</body>
</html>