<div class="samples-carousel-block">
    <div class="carousel" data-sample="{{interactiveSampleUrl}}" data-sample="{{delay}}">
        <ul>
        	{{#each items}}
				<li style="background-image: url('{{imgUrl}}')"></li>
			{{/each}}
        </ul>
        <div class="carousel-navigate">
            <img src="/assets/img/donut.svg" alt="" class="caret">
            {{#each items}}
				<div class="carousel-navigate-item" data-order="{{@index}}">
                <img src="/assets/img/cirle.svg" alt="">
            </div>
			{{/each}}
        </div>
    </div>
</div>