<div class="samples-carousel-block">
    <script type="text/javascript">
    	function detectWebGL()
		{
		    // Check for the WebGL rendering context
		    if ( !! window.WebGLRenderingContext) {
		        var canvas = document.createElement("canvas"),
		            names = ["webgl", "experimental-webgl", "moz-webgl", "webkit-3d"],
		            context = false;

		        for (var i in names) {
		            try {
		                context = canvas.getContext(names[i]);
		                if (context && typeof context.getParameter === "function") {
		                    // WebGL is enabled.
		                    return 1;
		                }
		            } catch (e) {}
		        }

		        // WebGL is supported, but disabled.
		        return 0;
		    }

		    // WebGL not supported.
		    return -1;
		};
		var items = {{json items}};
		if (detectWebGL()) {
			//TODO: init iframes carausel
		} else {
			//TODO: init crausel with videos
			alert("WebGL is not supported");
		}
    </script>
</div>