.githubChallengeElement {
    display: inline-block;
    margin: 30px;
    text-align: left;
    letter-spacing: 1px;
}

.githubChallengeElement .title {
    font-weight: 900;
    font-size: 44px;
    margin: 0px;
    letter-spacing: 3px;
}
.githubChallengeElement .logo {
    width: 400px;
}

@media only screen  
and (max-width: 500px) {
    .githubChallengeElement .logo {
        width: 200px;
    }
}

.githubChallengeElement .location {
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.githubChallengeElement .twit {
    background-image: url(/githubUniverse/twit.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 36px;
    display: inline-block;
    margin-right: 2px;
}

.githubChallengeElement .twitwit {
    vertical-align: bottom;
    line-height: 36px;
}

.githubChallengeElement p a {
    font-weight: 700;
    text-decoration: none;
}

.download-bar {
    background-image: url('/githubUniverse/back.svg');
    background-repeat: no-repeat;
    background-size: cover;
}