
.image-and-text-block .inner-container {
    display: flex;
    max-height: 300px;
    max-width: 1200px;
    justify-content: flex-start;
    overflow: hidden;
}

.image-and-text-block .inner-container img {
    height: auto;    
    justify-self: center;
}

.image-and-text-block.right .inner-container {
    justify-content: flex-end;
}

.image-and-text-block .inner-container .text-block {
    margin: 0;
}

.image-and-text-block .text-block h2 {
    color: #E2E2E2;
    font-size: 36px;
    font-weight: 200;
}

.image-and-text-block .text-block h3 {
    color: #E2E2E2;
    font-size: 24px;
    font-weight: 100;
    margin-top: -5px;
    margin-bottom: 10px;
}

.image-and-text-block .text-block p {
    color: #E2E2E2;
    font-family: "acumin-pro";
    font-size: 18px;
    line-height: 30px;
}

.image-and-text-block .text-block .link-block {
    margin-top: 10px;
}

.image-and-text-block .text-block a {
    color: #E2E2E2;    
    font-family: "acumin-pro";
    font-size: 16px;
    text-decoration: underline;
}

@media all and (max-width: 480px){
    .content-container > .text-block .inner-container{
        max-width: 300px;
        margin: 0 auto;
    }

    .image-and-text-block .text-block h2{
        max-width: 300px;
        margin: 0 auto 18px;
    }

    .image-and-text-block .text-block p{
        max-width: 300px;
        margin: 0 auto;
    }

}

@media (max-width: 350px){
    .image-and-text-block .inner-container {
        height: 540px;
        position: relative;
    }

    .image-and-text-block:nth-of-type(2n + 1) .inner-container div:nth-child(2) {
        padding-top: 36px;
    }

    .image-and-text-block:nth-of-type(5) .inner-container {height: 465px}
}


@media all and (max-width: 768px){
    /* .image-and-text-block .inner-container {
        height: 540px;
        position: relative;
    } */

    .image-and-text-block .text-block h2{
        font-size: 24px;
        letter-spacing: 1.3px;
    }

    .image-and-text-block .text-block p{
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0;
    }
}

