 .block {
    width:260px;
    margin:15px;
    color:#eee;
    
    .title {
        background-color: rgba(0,0,0,0.4);
        width:calc(100% - 15px*2);
        padding:15px;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-title;
        font-size:1.2em;
    }
    
    .choices {
        ul {
            padding:15px;
            margin:0;
            list-style-type: none;
            li {
                padding:2px;
            }
        }
    }
}