.content {
    width:80%;
    margin:auto;
    
    .component {
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap:wrap;
        
        &.red > .block {
            background-color: $color1;   
        }
        
        &.green > .block {
            background-color: $color2;   
        }       
    }
}